<html lang="en">
    <head>
        <!-- <meta http-equiv="refresh" content="3;url=/students.html" /> -->
        <link rel="stylesheet" href = "students.css">
    </head>
    <body>
      <div id = "background"></div>
      <div id = "home"><a href="students.html">Home</a></div>
      <!-- <div id = "database"><a href="display_students.ejs">Display</a></div> -->
      <div id = "readme"><a href="readme.html">ReadMe</a></div>

        <h3 style="position: absolute;margin-top: 50px;margin-left: 50px;">
          Display Page<br>
        </h3>
        <div id = "background" style="border-style:solid;position:absolute;margin-top:100px;margin-left:50px;border-width:1px;">
          <table style="padding: 20px;position:absolute;">
            <% for(var row=0;row<=students.rows.length/5;row++)%>
            <tr>
              <% for(var i=row*5;i<(row+1)*5;i++){%>
                <td>
                  <% var scale=0.6; var s=students.rows[i] %>
                  <% var div_style="width:"+s.weight*scale+"px;height:"+s.height*scale+"line-height:50px;margin:10px;border-width:1px;text-align:center;position:absolute;" %>
                  <div style= <%= div_style %>>
                    <font color= <%=s.haircolor %> ><%= s.name %></font><br> <%= s.gpa %>
                  </div>
                </td>
              <% } %>
            </tr>
            <% } %>
          </table>
        </div>
    </body>
</html>
