<html lang="en">
    <head>
        <!-- <meta http-equiv="refresh" content="3;url=/students.html" /> -->
        <link rel="stylesheet" href = "students.css">
    </head>
    <body>
      <div id = "background"></div>
      <div id = "home"><a href="students.html">Home</a></div>
      <!-- <div id = "database"><a href="display_students.ejs">Display</a></div> -->
      <div id = "readme"><a href="readme.html">ReadMe</a></div>

        <h3 style="position: absolute;margin-top: 50px;margin-left: 50px;">
          Display<br>
        	
        </h3>
    </body>
</html>
