div {
	display: inline-block;
	font-family: Georgia;
	font-size: 20px;
	position: absolute;
	padding-top: 3px;
	padding-left: 0px;
	padding-right: 5px;
	padding-bottom: 3px;
}

a{
	color: white;
	text-decoration: none;
}
/* a:hover{
	transform: scale(1.2);
} */

#home {
	top:0px;
	/*margin-top: 58px;*/
	margin-left:20px;

}

#database{
	top:0px;
	margin-left: 150px;

}

#readme{
	top:0px;
	margin-left: 320px;

}

#background{
	/*position: fixed;*/
	top:0px;
	/*margin-top: 20px;*/
	margin-left: 0px;*/
	border: 1px solid black;
	width: 99%;
	height: 25px;
	background-color: #000000
}

#form1{
	position: absolute;
	margin-top: 50px;
	margin-left: 50px;
	/*background-color:#B0EDEE*/
}
#form2{
	position: absolute;
	margin-top: 400px;
	margin-left: 50px;
}
input{
	margin-top: 5px;
	margin-bottom: 5px;
}

.text{
	height: 20px;
	width: 100px;
}

.number{
	height: 20px;
	width: 50px;
}

/*.color{
	height: 20px;
	width: 100px;
}*/
span{
	color: red;
}
