<html lang="en">
    <head>
        <meta http-equiv="refresh" content="3;url=/students.html" />
        <link rel="stylesheet" href = "students.css">
    </head>
    <body>
      <div id = "background"></div>
      <div id = "home"><a href="students.html">Home</a></div>
      <!-- <div id = "database"><a href="display_students.html">Display</a></div> -->
      <div id = "readme"><a href="readme.html">ReadMe</a></div>

        <h3 style="position: absolute;margin-top: 50px;margin-left: 50px;">
          <%= message%> succeed<br>
        	Back to home page in 3 seconds...
        </h3>
        <form id = "form3" style="margin-top:200px;" class="form" action="display" >
          <p id = "message2"><b>Or, to display all students:</b></p>

          <input type="submit" name ="Display" id = "Display" value = "Display">
        </form>
    </body>
</html>
